.vs/
CarRentalSearch.Api/bin/
CarRentalSearch.Api/obj/
CarRentalSearch.Application/bin/
CarRentalSearch.Application/obj/
CarRentalSearch.Domain/bin/
CarRentalSearch.Domain/obj/
CarRentalSearch.Infrastructure/bin/
CarRentalSearch.Infrastructure/obj/
